.Customer {
    width: 80%;
    margin: 10px auto;
    color: #606060;
}

.Customer form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.CustomerInput {
    display: block;
    margin: 10px auto;
    width: 250px;
}

.CustomerButtons {
    display: flex;
    flex-direction: row;
    margin: 10px auto;
    justify-content: space-between;
}

.CustomerButton {
    width: 110px;
    margin: 10px !important;
}

.IconMargin {
    margin-right: 10px;
}